body {
    margin: 0;
    background-color: #7D7D7D;

    .paperRounded {
        border-radius: 12px;
    }
}
.filterRow {
    padding: 10px;
}
.dataTable {
    padding: 13px;
}
.visuallyHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 20px;
    width: 1px;
}
header {
    position: relative;
}
.header {
    background: #E0E0E0;
    margin-bottom: 25px;
    height: 50px;
    padding: 15px;
    border-radius: 12px;
}
.headerLabel {
    background: #2F2966;
    border-radius: 12px;
    position: absolute;
    top: -20px;
    left: 8px;
    padding: 12px;
    color: #FFFFFF;
}
.sideBarCard {
    margin-bottom: 12px;

    .listTimeLabel {
        font-size: 13px;
        color: #E0E0E0;
    }
}
.newMonthList {
    list-style: none;
    padding-left: 8px;

    li {
        padding: 4px 2px;
    }
}
footer {
    background: #E0E0E0;
    margin-top: 25px;
    height: 50px;
    padding: 15px;
    border-radius: 12px;
}


